body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
  }
  /* reset */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  button {
    cursor: pointer;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
  }
  /* section-one */
  .section-one {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/bg-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
  .h2-one-section {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .p-one-section {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  }
  .list-section-one{
    display: block;
    
  }
  .partical-list-one{
    margin-bottom: 42px;
    align-items: start;
    width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius:50%;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
.svg-section-one{
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #fff;
  background-color:#4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.one {
  display: flex;
}
@media screen and (min-width:768px) {
  .section-one{
    max-width: 768px;
    padding-top: 240px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../img/bg-fon.jpg);
        margin: 0 auto;
  }
    .h2-one-section{
      padding-top: 86px;
      text-align: end;
      font-size: 44px;
        line-height: 1.1;
        letter-spacing: 0.02em;
       max-width: 496px;
      margin-left: 180px;
      padding-bottom: 20px;
      
    }
    .p-one-section{
    font-size: 18px;
      max-width: 496px;
      text-align: end;
      margin-left: 60px;
   }
     .partical-list-one{
      height: 40px;
      width: 40px;
     }
         .partical-list-one:last-child{
          margin-bottom: 0;
         }
         .svg-section-one{
          height: 40px;
          width: 40px;
         }
     .list-section-one{
      margin-bottom: 160px;
     }
}
/* section-two */
.section-two{
  background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../img/bg-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.partical-list-two{
  width: 100%;
  margin-bottom: 6px;
  
}
.p-two-section{
  padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width:768px){
  .section-two{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../img/bg-fon.jpg);
    max-width:768px;
    margin: 0 auto;
  }
  .list-section-two {
    display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  
    .partical-list-two {
      width: calc((100% - 24px) / 2);
    }
}
/* section-tre */
.list-section-tre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partical-list-tre{
  margin-bottom: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
}

.tre{
  background-color: rgba(46, 47, 66, 0.7);
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width:768px) {
  
}
/* section for */
.section-for{
  padding-top: 40px;
}
.head-container{
  max-width: 320px;
  background-color: rgb(5, 179, 195);
  margin: 0 auto;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.head-text{
  font-size: 28px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  
   
}
.container-li-part{
  display: flex;
}
.link-li-part-sec-for{
width: 40px;
height: 40px;
fill: #fff;
background-color: rgb(5, 179, 195);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-only-sec-for{
  width: 40px;
    height: 40px;
    padding: 5px;
}
.container-text-sec-for{
  margin-right: 132px;
}
.img-cont-sec-for{
 margin-bottom: 20px;  
}
.particl-list-sec-for{
  margin-bottom: 40px;
}

/* footer */
.footeer-container{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2e2f42;

}
.footel-text{
  text-align: center;
  color: #fff;
}